
body {
    font-family: Exo;
    box-sizing: border-box;
    color: #282828;
}

.section-header-outer {
    background: #9dd76a url(img/Section-1-bg.jpg) no-repeat center;
    background-size: cover;
    width: 1310px;
    height: 740px;
    margin: auto;
    background-position: 0px 0px;
}

.section-header-inner {
    display: flex;
    flex-direction: column;
     align-items: center;
}

.header-message {
    text-align: center;
    font-size: 55px;
    line-height: 70px;
    font-weight: 100;
    color: #282828;
    letter-spacing: 0.02em;
    padding-top: 160px;
}


.signature {
    font-size: 14px;
    line-height: 75px;
    color: #767678;
}

.button {
    
    background-color: #ff6d6d;
    text-transform: uppercase;
    width: 176px;
    height: 50px;
    color: white;
    letter-spacing: 0.22em;
    font-size: 14px;
    
}

.form_btn {
  
}

.icon-video {
   padding-bottom: 40px;
}

/* section2 */

.wrapper-section2 {
    display: flex;
    width: 1310px;
    align-items: center;
    margin: auto;
}

.title {
    width: 572px;
    padding-right: 80px;
    padding-left: 144px;
}

.header-section2 {
    text-transform: uppercase;
    color: #ff9494;
    font-size: 16px;
    letter-spacing: 0.22em;
}

.header2-section2 {
    font-size: 40px;
}

.description-section2 {
    font-size: 16px;
    line-height: 26px;
}

.dot {
    color: #ff9494;
}

.bg-section2 {
    
}

/* section3 */

.wrapper-section3 {
    width: 1310px;
    margin: auto;
    background: #f6f5f3;
    height: 675px;
    padding: 0;

}

.bg-section3 {
    background-image: url(/img/Section\ 3\ BG.png);
    height: 715px;
    background-repeat: no-repeat;
    /* border: #9dd76a solid 1px; */
    padding: 0;
    background-position-y: -35px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.wrapper-header-section3 {
    text-align: center;
}

.blocks {
    display: flex;
}

.block1, .block2, .block3 {
    padding: 0;
    width: 355px;
    text-align: center;
    }

.header-section3 {
        margin: 0 auto;
        color: #ff9494;
        font-size: 16px;
        text-transform: uppercase;
        letter-spacing: 0.22em;
}



.header2-section3 {
    margin: 0;
    font-size: 40px;
}

.title-block-section3 {
    font-size: 22px
}

.description1-header3 {
    font-size: 16px;
}

/* section4 */

.wrapper-section4 {
    background: url(/img/Section-4-bg.jpg) no-repeat;
    width: 1310px;
    margin: auto;
    display: flex;
    height: 615px;
    background-position-y: -80px;
    align-items: center;
}

.header2-section4 {
    font-size: 40px;
    
    /* justify-content: space-around; */
}

.text-section4 {
    width: 50%;
}


/* section5 */

.wrapper-section5 {
    background: rgba(0, 0, 0, 1) url(/img/section5-bg.png) no-repeat;
    width: 1310px;
    margin: 0px auto;
    display: flex;
    flex-direction: column;
    height: 615px;
    align-items: center; 
  justify-content: space-between;
    /* justify-content: space-around; */
  
    /* border: solid 1px gold; */
   
}

.wrapper-blocks-section5 {
    margin-top: 107px;
    display: flex;
    flex-direction: row;
    /* align-items: space-between; */
    /* justify-content: space-around; */
    /* border: solid 1px white; */
}

.square {
    width: 75px;
    height: 75px;
    background: #4e4e5e;
    border: solid 1px #1d1e24;
}

.block1-section5 {
    /* width: 350px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

}

.clients-logo {
    /* border: #f6f5f3 solid 1px; */
}

.name-founder, .position, .description1-section5 {
    color: white;
}

.position {
    color: #ff6d6d;
}

/* section6 */
.wrapper-section6 {
    width: 1310px;
    height: 756px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    align-items: center;
    /* border: #1d1e24 solid 1px; */
}

.title_section6 {
    width: 650px;
    text-align: center;
    
}

/* section7 */

.wrapper-section7 {
    width: 1310px;
    /* border: #1d1e24 solid 1px; */
    height: 468px;
    margin: 0 auto;
    background: url(/img/try-bow-bg.png) no-repeat;
    /* display: flex; */
}
